.side-bar{
    position: fixed;
    background-color:black;
    width:15%;
    height:1000px;
}
.sidebar-img{
    position:absolute;

}
.link-box{
    position:absolute;
    left: 100px;
    top: 200px;
    color: white;
    font-size: 20px;
}
.link-box2{
    position:absolute;
    left:100px;
    top:250px;
    color: white;
    font-size: 20px;
}
.link-box3{
    position:absolute;
    left:100px;
    top:300px;
    color: white;
    font-size: 20px;
}
.link-box4{
    position:absolute;
    left:100px;
    top:350px;
    color: white;
    font-size: 20px;
}
.link-box5{
    position:absolute;
    left:100px;
    top:400px;
    color: white;
    font-size: 20px;
}
.employee{
    margin-left:400px;
    border: 1px solid gray;
    margin-bottom: 5px;
    width: 20%
}
.content{
    padding-top:40px;
}
