.side-bar{
    position: fixed;
    background-color:black;
    width:15%;
    height:1000px;
}
.sidebar-img{
    position: absolute;
    left: 80px;
    top: 70px;
}
.link-box{
    position:absolute;
    left: 100px;
    top: 200px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-box2{
    position:absolute;
    left:100px;
    top:250px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-box3{
    position:absolute;
    left:100px;
    top:300px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-box4{
    position:absolute;
    left:100px;
    top:350px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.link-box5{
    position:absolute;
    left:100px;
    top:400px;
    color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
}
.employee{
    margin-left:400px;
    border: 1px solid gray;
    margin-bottom: 5px;
    width: 20%
}
.content{
    padding-top:40px;
}
.fname{
    left: 500px;
    position: absolute;
    margin-top:10px;
    width:300px;
}
.fname2{
    left: 900px;
    position: absolute;
    margin-top:10px;
    width:300px;
}
.fname3{
    margin-top:10px;
    left: 1300px;
    position: absolute;
    width:300px;
}
.fname4{
    margin-top:10px;
    left: 1600px;
    position: absolute;
    
}
.fname6{
    margin-top:10px;
    left: 1600px;
    position: absolute;
    
}
.yes{
    color: black;
    position: absolute;
    left: 400px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.no{
    color: black;
    position: absolute;
    left: 400px;
    top: 100px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 26px;
}
.hide{
    display:none;
}

